{{!--
If the template in question has a background image, then we render responsive image styles
for it, and apply those styles to the <header> tag.
--}}

{{#if background}}
  <section class="m-hero with-picture" data-aos="fade">
    <div class="m-hero__picture {{#is "post"}}in-post{{/is}}">
      <img
        srcset="
          {{img_url background size="s"}} 300w,
          {{img_url background size="m"}} 600w,
          {{img_url background size="l"}} 1000w,
          {{img_url background size="xl"}} 2000w
        "
        sizes="(max-width: 600px) 600px, (max-width: 1000px) 1000px, 2000px"
        src="{{img_url background size="l"}}"
        alt=""
      />
      
<nav id="socials" class="m-header-social">
                {{#if @site.twitter}}
                <a href="https://twitter.com/AmbientArtstyls" target="_blank" rel="noopener" aria-label="Twitter">
                    <span class="icon-twitter" aria-hidden="true"></span>
                    
</a>
{{/if}}
<a href="https://twitter.com/AmbientArtstyls" aria-label="twitter">
<span class="icon-twitter" aria-hidden="true"></span>
</a>
<a href="https://www.instagram.com/ambientartstyles/" aria-label="instagram">
<span class="icon-instagram" aria-hidden="true"></span>
</a>
<a href="https://www.twitch.tv/ambientartstyles" aria-label="twitch">
<span class="icon-twitch" aria-hidden="true"; ></span>
</a>
<a href="https://www.youtube.com/channel/UCixEIJijDxB8nWtGzJ82jrg/videos" aria-label="youtube">
<span class="icon-youtube" aria-hidden="true"; ></span>
</a>
<a href="https://discord.gg/kynEvvukRF" aria-label="discord">
<span class="icon-discord" aria-hidden="true"; ></span>
</a>
<a href="https://soundcloud.com/dematerialised_identities" aria-label="soundcloud">
<span class="icon-soundcloud" aria-hidden="true"; ></span>
</a>
<a href="https://www.tiktok.com/@ambientartstyles" aria-label="tiktok">
<span class="icon-tiktok" aria-hidden="true"; ></span>

</nav>

<nav id="bandcampspotify" class="m-header-social">
</a>
<a href="" aria-label="bandcamp">
<span class="icon-bandcamp" aria-hidden="true"; ></span>
</a> 

</a>
<a href="" aria-label="TYPESPOTIFYHERE">
<span class="icon-TYPESPOTIFYHERE" aria-hidden="true"; ></span>
</a> 
</nav>

      
    </div>
{{else}}
  <section class="m-hero no-picture {{#is "post"}}in-post{{/is}}" data-aos="fade">
{{/if}}
